<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LJ_ArtNet_Node.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LJ_ArtNet_Node.My.MySettings>
            <setting name="Universe1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>25</value>
            </setting>
        </LJ_ArtNet_Node.My.MySettings>
    </userSettings>
</configuration>